FlowDisplayTextList/flows/Demo_Display_Text_On_Screen_Flows_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Demo Display Text On Screen Flows - Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Display Text On Screen Flows - Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetTasksOwnedByUser</name>
        <label>GetTasksOwnedByUser</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Display_Text_On_Screen_Flows_Autolaunched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWebAccounts</name>
        <label>GetWebAccounts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounts_Display_Text_On_Screen_Flows_Autolaunched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_List_of_Accounts</name>
        <label>Display List of Accounts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetTasksOwnedByUser</targetReference>
        </connector>
        <fields>
            <name>DisplayAccountsList</name>
            <fieldText>&lt;p&gt;{!Accounts_Display_Text_On_Screen_Flows_Autolaunched.OutputDisplayText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_List_of_Tasks</name>
        <label>Display List of Tasks</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayAccountsList_0</name>
            <fieldText>&lt;p&gt;{!Tasks_Display_Text_On_Screen_Flows_Autolaunched.OutputDisplayText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWebAccounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accounts_Display_Text_On_Screen_Flows_Autolaunched</name>
        <label>Accounts Display Text On Screen Flows - Autolaunched</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Display_List_of_Accounts</targetReference>
        </connector>
        <flowName>Display_Text_On_Screen_Flows</flowName>
        <inputAssignments>
            <name>CollectionOfAccounts</name>
            <value>
                <elementReference>GetWebAccounts</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Tasks_Display_Text_On_Screen_Flows_Autolaunched</name>
        <label>Tasks Display Text On Screen Flows - Autolaunched</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Display_List_of_Tasks</targetReference>
        </connector>
        <flowName>Display_Text_On_Screen_Flows</flowName>
        <inputAssignments>
            <name>CollectionOfTasks</name>
            <value>
                <elementReference>GetTasksOwnedByUser</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
