FlowDisplayTextList/flows/Display_Text_On_Screen_Flows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_To_Display_Text</name>
        <label>Add To Display Text</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskRecordSingular.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>constantBreakNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Display_Text_0</name>
        <label>Add To Display Text</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccountRecordSingular.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>constantBreakNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Singular_Record</name>
        <label>Assign to Singular Record</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varTaskRecordSingular.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnTasks.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Display_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Singular_Record_0</name>
        <label>Assign to Singular Record</label>
        <locationX>138</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varAccountRecordSingular.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnAccounts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Display_Text_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Unordered_List</name>
        <label>End Unordered List</label>
        <locationX>402</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EndULMarkup</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>End_Unordered_List_0</name>
        <label>End Unordered List</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>OutputDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EndULMarkup</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>constantBreakNewLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;/br&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>EndULMarkup</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;/ul&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>LineEnd</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;/li&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>LineStart</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;li&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsCollectionOf</name>
        <label>IsCollectionOf?</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Not Handled</defaultConnectorLabel>
        <rules>
            <name>Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOnAccounts</targetReference>
            </connector>
            <label>Accounts</label>
        </rules>
        <rules>
            <name>Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOnTasks</targetReference>
            </connector>
            <label>Tasks</label>
        </rules>
    </decisions>
    <interviewLabel>Display Text On Screen Flows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Text On Screen Flows - Autolaunched</label>
    <loops>
        <name>LoopOnAccounts</name>
        <label>LoopOnAccounts</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <collectionReference>CollectionOfAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Singular_Record_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Unordered_List_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnTasks</name>
        <label>LoopOnTasks</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <collectionReference>CollectionOfTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Singular_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Unordered_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsCollectionOf</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOfAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CollectionOfTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OutputDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;ul&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountRecordSingular</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varTaskRecordSingular</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
